HTML {
    background: #f8f9fa;
}
body {
    padding-top: 56px;
}
#CreationExtension #GalleryExtension {
    padding: 10px 100px 10px 100px;
    font-size: 10pt;
}
.Collapse-bar {
    display: flex;
    justify-content: space-between;
}
.main, .side-bar{
    margin: 0;
}
.side-bar {
    border-left: #212529 solid 2px;
    border-right: #212529 solid 2px;
}
.navbar-inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.side-bar-links {
    line-height: 30px;
}
/*.img-link:hover {
    opacity: 0.7;
    transition: 200ms;
}*/
.contacting {
    margin: 8rem;
    display: flex;
    justify-content: center;
}
.contact-infos-list {
    list-style: none;
    line-height: 50px;
}
footer {
    display: block;
}
#footer-links {
    text-decoration: none;
}
#footer-links:hover {
    text-decoration: underline;
}