.fas {
    color: #f8f9fa;
}
#CreationExtension #GalleryExtension {
    padding: 10px 100px 10px 100px;
    font-size: 10pt;
}
.navbar-inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.Collapse-bar {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}
.nav-home {
    padding-left: 0;
    padding-right: 30px;
}
main {
    padding-top: 56px;
}
.switch-images {
    object-fit: cover;
    width: 100%;
}
.footer-fixed {
    padding-bottom: 72px;
}
.main, .side-bar{
    margin: 0;
}
.side-bar {
    border-left: #212529 solid 2px;
    border-right: #212529 solid 2px;
}
.side-bar-links {
    line-height: 20px;
}
#blog .card img {
    height: 400px;
}
#blog .img-scale {
    width: 40rem;
    object-fit: cover;
}
#blog .modal img {
    height: 300px;
}
#blog .img-scale_2 {
    object-fit: cover;
    width: 29rem;
}
#home img {
    height: 680px;
}
#home .img-home {
    width: 100%;
    object-fit: cover;
}
.img-scale-container {
    overflow: hidden;
    object-fit: contain;
}
.img-scale-container .img-scale {
    transition: 500ms;
}
.img-scale-container:hover .img-scale {
    transform: scale(1.2);
}
.card {
    width: 40%;
}
.img-gallery-container {
    height: 300px;
    width: 300px;
}
.width50rem {
    width: 40rem;
}
.contacting {
    margin: 8rem;
    display: flex;
    justify-content: center;
}
.contact-infos-list {
    list-style: none;
}
footer {
    display: block;
}
#footer-link {
    text-decoration: none;
}
#footer-link:hover {
    text-decoration: underline;
}